.photo-grid_area_1 {
  grid-area: one;
}

.photo-grid_area_2 {
  grid-area: two;
}

.photo-grid_area_3 {
  grid-area: three;
}

.photo-grid_area_4 {
  grid-area: four;
}

.photo-grid_area_5 {
  grid-area: five;
}

.photo-grid_area_6 {
  grid-area: six;
}

.photo-grid_area_7 {
  grid-area: seven;
}

.photo-grid_area_8 {
  grid-area: eight;
}

.photo-grid_area_9 {
  grid-area: nine;
}

.photo-grid_area_10 {
  grid-area: ten;
}

.photo-grid_area_11 {
  grid-area: eleven;
}

.photo-grid_area_12 {
  grid-area: twelve;
}
